<div class="remove-container container-block">
  <h2 class="container-block-title">
    Language version
  </h2>
  <div class="language-list">
    <select class="language-selected" onchange="javascript:handleSelect(this)">
      <option value="fr">fr</option>
      <option value="en" selected>en</option>
    </select>
  </div>
  <script type="text/javascript">
    function handleSelect(elm)
    {
    window.location = elm.value+".html";
    window.location.href="../cv/"+elm.value;
    }
    </script>

</div><!--//About-->